/pods
/Twitter.xcworkspace/xcuserdata
/Twitter/Twitter.xcworkspace/contents.xcworkspacedata
/Twitter/Twitter.xcworkspace/contents.xcworkspacedata
/Twitter/Twitter.xcodeproj/xcuserdata/rodrigovart.xcuserdatad/xcschemes/xcschememanagement.plist
Podfile.lock
xcschememanagement.plist
contents.xcworkspacedata
UserInterfaceState.xcuserstate
